building_1_grids.geojson
building_3_grids.geojson
building_coordinate.geojson
building_faces_latlon.geojson
building_faces_with_centroids_latlong.geojson
building_faces.geojson
building_facesid.geojson
building_with_sequential_ids.geojson
building3_faces.geojson
buildings_with_centroids_id.geojson
buildings_with_centroids.geojson
buildings_with_rounded_centroids.geojson
buildingsid_with_centroids_id_jk.geojson
faces_with_centroids_latlong.geojson
faces_with_centroids_latlongjk.geojson
faces20_with_centroids_latlong.geojson
grids_3d_latlong.geojson
grids_3d_new_latlong.geojson
grids_3d.geojson
test_grid_generation.geojson
